<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Energy_Charge.pkg</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DA272F28AE10CCD2D29177E24A440CB4CCF54CEE</string>
				<key>dateExpires</key>
				<string>2020/10/10</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA272F28AE10CCD2D29177E24A440CB4CCF54CEE</string>
						<key>dateExpires</key>
						<string>2020/10/10</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V8ETDGXR5B</string>
						<key>name</key>
						<string>Sihao Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA272F28AE10CCD2D29177E24A440CB4CCF54CEE</string>
						<key>dateExpires</key>
						<string>2020/10/10</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V8ETDGXR5B</string>
						<key>name</key>
						<string>Sihao Liu</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-only</key>
				<true/>
				<key>com.apple.security.network.client</key>
				<true/>
				<key>com.apple.security.network.server</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Energy_Charge.app</string>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>V8ETDGXR5B</string>
				<key>name</key>
				<string>Sihao Liu</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
